{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Оформить заказ</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="cart.html">Корзина</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Оформить заказ</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <!-- BILLING ADDRESS (Доработать)-->
          <h2 class="h5 text-uppercase mb-4">Платежные реквизиты</h2>
          <div class="row">
            <div class="col-lg-8">
              <form action="{% url 'store:checkout' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="firstName">Имя</label>
                    <input class="form-control form-control-lg" id="firstName" type="text" placeholder="Имя">
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="lastName">Фамилия</label>
                    <input class="form-control form-control-lg" id="lastName" type="text" placeholder="Фамилия">
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="email">Email</label>
                    <input class="form-control form-control-lg" id="email" type="email" placeholder="Email">
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="phone">Телефон</label>
                    <input class="form-control form-control-lg" id="phone" type="tel" placeholder="Телефон">
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="deliveryMethod">Способ получения:</label>
                    <select class="form-control" id="deliveryMethod" name="delivery_method" required>
                      <option value="pickup">Самовывоз</option>
                      <option value="delivery">Доставка</option>
                    </select>
                  </div>
                  <div class="col-lg-6 form-group" id="deliveryAddressSection" style="display: none;">
                  <label class="text-small text-uppercase">Выберите адрес доставки</label>
                    {% if addresses %}
                      {% for address in addresses %}
                        <div class="mb-3">
                        <input type="radio" name="address" value="{{address.id}}">
                          <strong>Адрес {{forloop.counter}}</strong> <br>
                          ( {{address.locality}}, {{address.city}}, {{address.state}} )
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="col-lg-6 form-group" id="pickupAddressSection" style="display: none;">
                    <label class="text-small text-uppercase">Адрес магазина для самовывоза</label>
                    <p>{{ store_address.locality }}, {{ store_address.city }}, {{ store_address.state }}</p>
                  </div>

                  <div class="col-lg-6 form-group">
                    <label class="text-small text-uppercase" for="paymentMethod">Способ оплаты:</label>
                    <select class="form-control" id="paymentMethod" name="payment_method" required>
                      <option value="cash">Наличными при получении</option>
                      <option value="card">Картой</option>
                    </select>
                  </div>
                  <div class="col-lg-6 form-group" id="cardDetails" style="display: none;">
                    <div class="form-group">
                      <label class="text-small text-uppercase"  for="cardNumber">Номер карты:</label>
                      <input type="text" class="form-control" id="cardNumber" name="card_number" placeholder="Номер карты">
                    </div>
                    <div class="form-group">
                      <label class="text-small text-uppercase"  for="cardExpiry">Срок действия:</label>
                      <input type="text" class="form-control" id="cardExpiry" name="card_expiry" placeholder="ММ/ГГ">
                    </div>
                    <div class="form-group">
                      <label class="text-small text-uppercase"  for="cardCVC">CVC:</label>
                      <input type="text" class="form-control" id="cardCVC" name="card_cvc" placeholder="CVC">
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <button class="btn btn-dark" type="submit">Разместить заказ</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- ORDER SUMMARY-->
            <div class="col-lg-4">
              <div class="card border-0 rounded-0 p-lg-4 bg-light">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Ваш заказ</h5>
                  <ul class="list-unstyled mb-0">
                    {% for item in cart_products %}
                    <li class="d-flex align-items-center justify-content-between">
                        <strong class="small font-weight-bold">{{ item.product.title }}</strong>
                        <span class="text-muted small">{{ item.quantity }} x {{ item.product.price }} ₽</span>
                    </li>
                    <li class="border-bottom my-2"></li>
                    {% endfor %}
                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="text-uppercase small font-weight-bold">Промежуточный итог</strong>
                      <span>{{amount}} ₽</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="text-uppercase small font-weight-bold">Стоимость доставки</strong>
                      <span>+ {{shipping_amount}} ₽</span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between">
                        <strong class="text-uppercase small font-weight-bold">Общее</strong>
                        <span>{{ total_amount }} ₽</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endblock content %}